@import 'styles/variables';

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.total {
  font-size: 35px;
  margin-bottom: 12px;
  text-align: center;
}

.subCard {
  padding: 15px;
}

.subCardContent {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding-top: 10px;

  .plf {
    color: $plf-color;
  }

  .amendement {
    background-color: $amendement-bg-color;
  }

  .plf, .amendement {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 2px;
  }

}
