@import 'styles/variables.scss';

$spacing: 8px;

.main {
  line-height: 1.5;
}

.mainValue {
  font-size: 25px;
}

.mainUnit {
  font-size: 20px;
}

.mainIcon {
  vertical-align: text-bottom;
}

.details {
  color: $light-grey-text-color;
  font-family: $default-font-family;
  font-size: 12px;
  line-height: 1.5;
  padding-top: $spacing;
}

.detailsUnit {
  color: #000000;
  font-weight: bold;
}

.containerImpact {
  align-content: flex-start;
  display: flex;
  justify-content: space-around;
  padding-top: $spacing;
}