@import "styles/variables";

.initial, .plf {
  font-family: law-font-family;
  font-weight: bold;
  line-height: 10px;
  margin-left: 8px;
  padding: 3px;
}

.initial {
  color: black;
}

.plf {
  color: $plf-color;
}

.resetParams {
  padding: 0.5rem;
  text-align: right;

  button {
    font-size: 12px !important;
  }
  
  button, svg {
    text-transform: none !important;
    color: $amendement-text-color !important;
    font-family: $default-font-family !important;
  }
}

.ml {
  margin-left: 0.5rem;
}

.menuItemPaper {
  background-color: rgba(255, 255, 255, 1) !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

.stylePaperTitreMenu {
  background-color: rgba(255, 255, 255, 1) !important;
  font-family: Lato;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
}