@import 'styles/variables';

.articleName {
  color: #696969;
  font-size: 14px;
  font-family: $law-font-family;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}