@import 'styles/variables';

.button {
  font-size: 14px;
  margin-right: 24px;
  margin-top: 11px;
  text-transform: inherit;
}

.buttonDisabled {
  opacity: 0.45;
}

.flexbox {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.title {
  color: #565656;
  font-family: $default-font-family;
  font-size: 14px;
}
