.gridSection {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.griditemOpen {
  padding-right: 10px;
}

.griditemPop {
  padding-left: 10px;
}
