@import 'styles/variables.scss';

.divRecrutement {
    width: 600px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;

    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: $amendement-bg-color;
    cursor: pointer;
    height: 60px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

    display: flex;
    justify-content: center;
    align-items: center;
    
    > a {
      text-decoration: none;
      color: black;
    }
}

.gridSection {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  .griditemOpen {
    padding-right: 10px;
  }
  
  .griditemPop {
    padding-left: 10px;
  }
