@import 'styles/variables.scss';

.baseValue {
  font-weight: bold;
}

.part {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.baseValue.part {
  background: center/100% url("/static/images/base-part.svg") no-repeat;
}

.plfValue {
  font-weight: bold;
  color: $plf-color;
}

.plfValue.part {
  color: black;
  background: center/100% url("/static/images/plf-part.svg") no-repeat;
}

.replacedWithPlf {
  text-decoration-color: $plf-color;
  text-decoration-line: line-through;
}

.replacedWithAmendement {
  text-decoration-color: $amendement-bg-color;
  text-decoration-line: line-through;
}

.amendementInput {
  width: 80px;
}

.smallInput {
  width: 40px;
}

.xlInput {
  width: 130px;
}

.amendementValue {
  font-weight: bold;
  padding: 0.1rem;
  margin: -0.1rem;
  background-color: $amendement-bg-color;
}

.amendementValue.part {
  background: center/100% url("/static/images/amendement-part.svg") no-repeat;
}

.noOverflow > span {
  display: inline-block;
}
